<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form action="/auth/login" method="POST" class="login100-form validate-form">
					{{#if error}}
						<p class="alert">{{ error }}</p>
					{{/if}}
					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="login" placeholder="Логин" required>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="password" placeholder="Пароль" required>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
							     Авторизация
							</button>
						</div>
					</div>
					<div class="text-center p-t-15">
						<span class="txt1">Еще не зарегистрированы?</span>
						<a class="txt2" href="/auth/register">Регистрация</a>
					</div>
					{{#if error}}
						<p class="txt1 alert">{{ error }}</p>
					{{/if}}
				</form>
			</div>
		</div>
	</div>
